# Data cleaning

In [1]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime

In [2]:
All_Matches = pd.read_csv('All Matches.csv')
National_Team_Appearance = pd.read_csv('National Teams Appearance.csv')
Participated_teams_general_statistics = pd.read_csv('Participated Teams General Statistics.csv')
Top_Goal_Scorers = pd.read_csv('Top Goal Scorers.csv')

In [3]:
All_Matches_df = pd.DataFrame(All_Matches)
National_Team_Appearance_df = pd.DataFrame(National_Team_Appearance)
Participated_teams_general_statistics_df = pd.DataFrame(Participated_teams_general_statistics)
Top_Goal_Scorers_df = pd.DataFrame(Top_Goal_Scorers)

In [4]:
All_Matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  286 non-null    object
 1   HomeTeamName          286 non-null    object
 2   AwayTeamName          286 non-null    object
 3   HomeTeamGoals         286 non-null    int64
 4   AwayTeamGoals         286 non-null    int64
 5   Stage                 286 non-null    object
 6   SpecialWinConditions  33 non-null     object
 7   Stadium               286 non-null    object
 8   City                  286 non-null    object
 9   Country               286 non-null    object
 10  Attendance            286 non-null    int64
 11  Year                  286 non-null    int64
dtypes: int64(4), object(8)
memory usage: 26.9+ KB

In [5]:
National_Team_Appearance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           35 non-null     object
 1   Appearances    35 non-null     int64
 2   Record streak  35 non-null     int64
 3   Active streak  35 non-null     int64
 4   Debut          35 non-null     int64
 5   Most recent    35 non-null     int64
 6   Best result    35 non-null     object
dtypes: int64(5), object(2)
memory usage: 2.0+ KB

In [6]:
Participated_teams_general_statistics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Team             33 non-null     object
 1   Participations   33 non-null     int64
 2   Played           33 non-null     int64
 3   Win              33 non-null     int64
 4   Draw             33 non-null     int64
 5   Loss             33 non-null     int64
 6   Goal_For         33 non-null     int64
 7   Goal_Against     33 non-null     int64
 8   Goal_Difference  33 non-null     object
 9   Points           33 non-null     int64
 10  Points/match     33 non-null     float64
dtypes: float64(1), int64(8), object(2)
memory usage: 3.0+ KB

In [7]:
Top_Goal_Scorers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          17 non-null     object
 1   Team            17 non-null     object
 2   Goals scored    17 non-null     int64
 3   Matches played  17 non-null     int64
 4   Goals average   17 non-null     float64
 5   Tournament(s)   17 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 944.0+ bytes

In [8]:
All_Matches_df.isna().sum()

Date                      0
HomeTeamName              0
AwayTeamName              0
HomeTeamGoals             0
AwayTeamGoals             0
Stage                     0
SpecialWinConditions    253
Stadium                   0
City                      0
Country                   0
Attendance                0
Year                      0
dtype: int64

In [9]:
National_Team_Appearance_df.isna().sum()

Team             0
Appearances      0
Record streak    0
Active streak    0
Debut            0
Most recent      0
Best result      0
dtype: int64

In [10]:
Participated_teams_general_statistics_df.isna().sum()

Team               0
Participations     0
Played             0
Win                0
Draw               0
Loss               0
Goal_For           0
Goal_Against       0
Goal_Difference    0
Points             0
Points/match       0
dtype: int64

In [11]:
Top_Goal_Scorers_df.isna().sum()

Player            0
Team              0
Goals scored      0
Matches played    0
Goals average     0
Tournament(s)     0
dtype: int64

In [12]:
All_Matches_df.describe()

       HomeTeamGoals  AwayTeamGoals    Attendance         Year
count     286.000000     286.000000    286.000000   286.000000
mean        1.293706       1.108392  40220.321678  1999.804196
std         1.180735       1.045693  15744.718423    13.915665
min         0.000000       0.000000   1659.000000  1960.000000
25%         0.000000       0.000000  29220.000000  1992.000000
50%         1.000000       1.000000  38746.500000  2004.000000
75%         2.000000       2.000000  50489.000000  2012.000000
max         6.000000       5.000000  79115.000000  2016.000000

In [13]:
National_Team_Appearance_df.describe()

       Appearances  Record streak  Active streak        Debut  Most recent
count    35.000000      35.000000      35.000000    35.000000    35.000000
mean      5.142857       3.514286       2.685714  1989.828571  2016.571429
std       3.750630       2.852980       3.113268    20.633334     6.518236
min       1.000000       1.000000       0.000000  1960.000000  2000.000000
25%       2.000000       1.000000       0.000000  1970.000000  2016.000000
50%       4.000000       2.000000       2.000000  1992.000000  2020.000000
75%       8.500000       5.500000       4.500000  2008.000000  2020.000000
max      13.000000      13.000000      13.000000  2020.000000  2020.000000

In [14]:
Participated_teams_general_statistics_df.describe()

,Participations,Played,Win,Draw,Loss,Goal_For,Goal_Against,Points,Points/match
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,4.727273,17.333333,6.454545,4.424242,6.454545,20.818182,20.818182,23.787879,1.150303
std,3.448485,13.667175,7.133070,4.092908,3.929781,20.708474,14.816491,24.932105,0.460689
min,1.000000,3.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.330000
25%,2.000000,6.000000,1.000000,1.000000,3.000000,4.000000,7.000000,4.000000,0.800000
50%,4.000000,14.000000,3.000000,2.000000,6.000000,11.000000,20.000000,12.000000,1.090000
75%,8.000000,31.000000,10.000000,6.000000,10.000000,38.000000,35.000000,41.000000,1.600000
max,12.000000,49.000000,26.000000,16.000000,14.000000,72.000000,48.000000,90.000000,2.000000

In [15]:
Top_Goal_Scorers_df.describe()

       Goals scored  Matches played  Goals average
count     17.000000       17.000000      17.000000
mean       6.000000       10.823529       0.652353
std        1.274755        4.003675       0.375009
min        5.000000        4.000000       0.360000
25%        5.000000        9.000000       0.430000
50%        6.000000       11.000000       0.550000
75%        6.000000       13.000000       0.750000
max        9.000000       21.000000       1.800000

In [16]:
Top_Goal_Scorers_df.iloc[0,0]

'Michel Platini'

In [17]:
National_Team_Appearance_df.iloc[0,0]

'Germany'

In [18]:
Participated_teams_general_statistics_df.iloc[0,0]

'Germany'

In [19]:
Participated_teams_general_statistics_df.iloc[0,0]

'Germany'

In [20]:
Top_Goal_Scorers_df.iloc[1,0]

'Cristiano Ronaldo'

In [21]:
National_Team_Appearance_df.iloc[2,0]

'Spain'

In [22]:
Participated_teams_general_statistics_df.iloc[4,0]

'Portugal'

In [23]:
Participated_teams_general_statistics_df.iloc[5,0]

'Netherlands'

In [24]:
Participated_teams_general_statistics_df.iloc[6,0]

'Czech Republic'

In [25]:
Participated_teams_general_statistics_df.iloc[7,0]

'Russia'

In [26]:
Participated_teams_general_statistics_df.iloc[8,0]

'England'

In [27]:
Participated_teams_general_statistics_df.iloc[9,0]

'Croatia'

In [28]:
Participated_teams_general_statistics_df.iloc[10,0]

'Denmark'

In [29]:
Participated_teams_general_statistics_df.iloc[11,0]

'Belgium'

In [30]:
np.random.randint(10,size=(3,2))

array([[2, 7],
       [9, 1],
       [6, 1]])

In [31]:
National_Team_Appearance_df.count()

Team             35
Appearances      35
Record streak    35
Active streak    35
Debut            35
Most recent      35
Best result      35
dtype: int64

In [32]:
Participated_teams_general_statistics_df.count()

Team               33
Participations     33
Played             33
Win                33
Draw               33
Loss               33
Goal_For           33
Goal_Against       33
Goal_Difference    33
Points             33
Points/match       33
dtype: int64

In [33]:
Top_Goal_Scorers_df.count()

Player            17
Team              17
Goals scored      17
Matches played    17
Goals average     17
Tournament(s)     17
dtype: int64

In [34]:
All_Matches_df.count()

Date                    286
HomeTeamName            286
AwayTeamName            286
HomeTeamGoals           286
AwayTeamGoals           286
Stage                   286
SpecialWinConditions     33
Stadium                 286
City                    286
Country                 286
Attendance              286
Year                    286
dtype: int64

In [35]:
All_Matches_df.mean()

/var/folders/8w/ffbmg1l958n0dtswfb_xw04c0000gn/T/ipykernel_42296/612391447.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  All_Matches_df.mean()

HomeTeamGoals        1.293706
AwayTeamGoals        1.108392
Attendance       40220.321678
Year              1999.804196
dtype: float64

In [36]:
Top_Goal_Scorers_df.mean()

/var/folders/8w/ffbmg1l958n0dtswfb_xw04c0000gn/T/ipykernel_42296/3898854769.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Top_Goal_Scorers_df.mean()

Goals scored       6.000000
Matches played    10.823529
Goals average      0.652353
dtype: float64

In [37]:
Participated_teams_general_statistics_df.mean()

/var/folders/8w/ffbmg1l958n0dtswfb_xw04c0000gn/T/ipykernel_42296/2010241601.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Participated_teams_general_statistics_df.mean()

Participations     4.727273
Played            17.333333
Win                6.454545
Draw               4.424242
Loss               6.454545
Goal_For          20.818182
Goal_Against      20.818182
Points            23.787879
Points/match       1.150303
dtype: float64

In [38]:
National_Team_Appearance_df.mean()

/var/folders/8w/ffbmg1l958n0dtswfb_xw04c0000gn/T/ipykernel_42296/2762591799.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  National_Team_Appearance_df.mean()

Appearances         5.142857
Record streak       3.514286
Active streak       2.685714
Debut            1989.828571
Most recent      2016.571429
dtype: float64

In [39]:
National_Team_Appearance_df

,Team,Appearances,Record streak,Active streak,Debut,Most recent,Best result
0,Germany,13,13,13,1972,2020,"Champions (1972, 1980, 1996)"
1,Russia,12,5,5,1960,2020,Champions (1960)
2,Spain,11,7,7,1964,2020,"Champions (1964*, 2008, 2012)"
3,France,10,8,8,1960,2020,"Champions (1984*, 2000)"
4,Italy,10,7,7,1968,2020,Champions (1968*)
5,Czech Republic,10,7,7,1960,2020,Champions (1976)
6,Netherlands,10,7,1,1976,2020,Champions (1988)
7,England,10,5,3,1968,2020,"Third place (1968), Semi-finals (1996*)"
8,Denmark,9,6,1,1964,2020,Champions (1992)
9,Portugal,8,7,7,1984,2020,Champions (2016)
10,Sweden,7,6,6,1992,2020,Semi-finals (1992*)
11,Belgium,6,2,2,1972,2020,Runners-up (1980)
12,Croatia,6,5,5,1996,2020,"Quarter-finals (1996, 2008)"
13,Serbia,5,1,0,1960,2000,"Runners-up (1960, 1968)"
14,Turkey,5,2,2,1996,2020,Semi-finals (2008)
15,Romania,5,2,0,1984,2016,Quarter-finals (2000)
16,Switzerland,5,2,2,1996,2020,Round of 16 (2016)
17,Greece,4,3,0,1980,2012,Champions (2004)
18,Hungary,4,2,2,1964,2020,Third place (1964)
19,Poland,4,4,4,2008,2020,Quarter-finals (2016)
20,Republic of Ireland,3,2,0,1988,2016,Round of 16 (2016)
21,Scotland,3,2,1,1992,2020,"Group stage (1992, 1996)"
22,Austria,3,2,2,2008,2020,"Group stage (2008*, 2016)"
23,Ukraine,3,3,3,2012,2020,"Group stage (2012*, 2016)"
24,Wales,2,2,2,2016,2020,Semi-finals (2016)
25,Slovakia,2,2,2,2016,2020,Round of 16 (2016)
26,Bulgaria,2,1,0,1996,2004,"Group stage (1996, 2004)"
27,Iceland,1,1,0,2016,2016,Quarter-finals (2016)
28,Northern Ireland,1,1,0,2016,2016,Round of 16 (2016)
29,Norway,1,1,0,2000,2000,Group stage (2000)
30,Slovenia,1,1,0,2000,2000,Group stage (2000)
31,Latvia,1,1,0,2004,2004,Group stage (2004)
32,Albania,1,1,0,2016,2016,Group stage (2016)
33,Finland,1,1,1,2020,2020,TBD
34,North Macedonia,1,1,1,2020,2020,TBD

In [40]:
National_Team_Appearance_df = National_Team_Appearance_df.drop(columns = ['Appearances', 'Record streak', 'Active streak', 'Debut', 'Most recent'])

In [41]:
National_Team_Appearance_df

                   Team                              Best result
0               Germany             Champions (1972, 1980, 1996)
1                Russia                         Champions (1960)
2                 Spain            Champions (1964*, 2008, 2012)
3                France                  Champions (1984*, 2000)
4                 Italy                        Champions (1968*)
5        Czech Republic                         Champions (1976)
6           Netherlands                         Champions (1988)
7               England  Third place (1968), Semi-finals (1996*)
8               Denmark                         Champions (1992)
9              Portugal                         Champions (2016)
10               Sweden                      Semi-finals (1992*)
11              Belgium                        Runners-up (1980)
12              Croatia              Quarter-finals (1996, 2008)
13               Serbia                  Runners-up (1960, 1968)
14               Turkey                       Semi-finals (2008)
15              Romania                    Quarter-finals (2000)
16          Switzerland                       Round of 16 (2016)
17               Greece                         Champions (2004)
18              Hungary                       Third place (1964)
19               Poland                    Quarter-finals (2016)
20  Republic of Ireland                       Round of 16 (2016)
21             Scotland                 Group stage (1992, 1996)
22              Austria                Group stage (2008*, 2016)
23              Ukraine                Group stage (2012*, 2016)
24                Wales                       Semi-finals (2016)
25             Slovakia                       Round of 16 (2016)
26             Bulgaria                 Group stage (1996, 2004)
27              Iceland                    Quarter-finals (2016)
28     Northern Ireland                       Round of 16 (2016)
29               Norway                       Group stage (2000)
30             Slovenia                       Group stage (2000)
31               Latvia                       Group stage (2004)
32              Albania                       Group stage (2016)
33              Finland                                      TBD
34      North Macedonia                                      TBD

In [42]:
National_Team_Appearance_df.dropna(inplace=True)

In [43]:
National_Team_Appearance_df

                   Team                              Best result
0               Germany             Champions (1972, 1980, 1996)
1                Russia                         Champions (1960)
2                 Spain            Champions (1964*, 2008, 2012)
3                France                  Champions (1984*, 2000)
4                 Italy                        Champions (1968*)
5        Czech Republic                         Champions (1976)
6           Netherlands                         Champions (1988)
7               England  Third place (1968), Semi-finals (1996*)
8               Denmark                         Champions (1992)
9              Portugal                         Champions (2016)
10               Sweden                      Semi-finals (1992*)
11              Belgium                        Runners-up (1980)
12              Croatia              Quarter-finals (1996, 2008)
13               Serbia                  Runners-up (1960, 1968)
14               Turkey                       Semi-finals (2008)
15              Romania                    Quarter-finals (2000)
16          Switzerland                       Round of 16 (2016)
17               Greece                         Champions (2004)
18              Hungary                       Third place (1964)
19               Poland                    Quarter-finals (2016)
20  Republic of Ireland                       Round of 16 (2016)
21             Scotland                 Group stage (1992, 1996)
22              Austria                Group stage (2008*, 2016)
23              Ukraine                Group stage (2012*, 2016)
24                Wales                       Semi-finals (2016)
25             Slovakia                       Round of 16 (2016)
26             Bulgaria                 Group stage (1996, 2004)
27              Iceland                    Quarter-finals (2016)
28     Northern Ireland                       Round of 16 (2016)
29               Norway                       Group stage (2000)
30             Slovenia                       Group stage (2000)
31               Latvia                       Group stage (2004)
32              Albania                       Group stage (2016)
33              Finland                                      TBD
34      North Macedonia                                      TBD

In [44]:
Participated_teams_general_statistics_df

,Team,Participations,Played,Win,Draw,Loss,Goal_For,Goal_Against,Goal_Difference,Points,Points/match
0,Germany,12,49,26,12,11,72,48,24,90,1.84
1,France,9,39,20,9,10,62,44,18,69,1.77
2,Spain,10,40,19,11,10,55,36,19,68,1.70
3,Italy,9,38,16,16,6,39,27,12,64,1.68
4,Portugal,7,35,18,9,8,49,31,18,63,1.80
5,Netherlands,9,35,17,8,10,57,37,20,59,1.69
6,Czech Republic,9,32,13,6,13,42,43,−1,45,1.41
7,Russia,11,33,12,7,14,38,45,−7,43,1.30
8,England,9,31,10,11,10,40,35,5,41,1.32
9,Croatia,5,18,8,5,5,23,20,3,29,1.61
10,Denmark,8,27,7,6,14,30,43,−13,27,1.00
11,Belgium,5,17,7,2,8,22,25,−3,23,1.35
12,Sweden,6,20,5,6,9,25,24,1,21,1.05
13,Greece,4,16,5,3,8,14,20,−6,18,1.13
14,Turkey,4,15,4,2,9,13,22,−9,14,0.93
15,Wales,1,6,4,0,2,10,6,4,12,2.00
16,Poland,3,11,2,6,3,7,9,−2,12,1.09
17,Switzerland,4,13,2,5,6,8,15,−7,11,0.85
18,Serbia,5,14,3,2,9,22,39,−17,11,0.79
19,Iceland,1,5,2,2,1,8,9,−1,8,1.60
20,Hungary,3,8,2,2,4,11,14,−3,8,1.00
21,Republic of Ireland,3,10,2,2,6,6,17,−11,8,0.80
22,Romania,5,16,1,5,10,10,21,−11,8,0.50
23,Scotland,2,6,2,1,3,4,5,−1,7,1.17
24,Norway,1,3,1,1,1,1,1,0,4,1.33
25,Slovakia,1,4,1,1,2,3,6,−3,4,1.00
26,Bulgaria,2,6,1,1,4,4,13,−9,4,0.67
27,Albania,1,3,1,0,2,1,3,−2,3,1.00
28,Northern Ireland,1,4,1,0,3,2,3,−1,3,0.75
29,Ukraine,2,6,1,0,5,2,9,−7,3,0.50
30,Slovenia,1,3,0,2,1,4,5,−1,2,0.67
31,Austria,2,6,0,2,4,2,7,−5,2,0.33
32,Latvia,1,3,0,1,2,1,5,−4,1,0.33

In [45]:
Participated_teams_general_statistics_df = Participated_teams_general_statistics_df.drop(columns = ['Goal_For', 'Goal_Against', 'Goal_Difference'])

In [46]:
Participated_teams_general_statistics_df

,Team,Participations,Played,Win,Draw,Loss,Points,Points/match
0,Germany,12,49,26,12,11,90,1.84
1,France,9,39,20,9,10,69,1.77
2,Spain,10,40,19,11,10,68,1.70
3,Italy,9,38,16,16,6,64,1.68
4,Portugal,7,35,18,9,8,63,1.80
5,Netherlands,9,35,17,8,10,59,1.69
6,Czech Republic,9,32,13,6,13,45,1.41
7,Russia,11,33,12,7,14,43,1.30
8,England,9,31,10,11,10,41,1.32
9,Croatia,5,18,8,5,5,29,1.61
10,Denmark,8,27,7,6,14,27,1.00
11,Belgium,5,17,7,2,8,23,1.35
12,Sweden,6,20,5,6,9,21,1.05
13,Greece,4,16,5,3,8,18,1.13
14,Turkey,4,15,4,2,9,14,0.93
15,Wales,1,6,4,0,2,12,2.00
16,Poland,3,11,2,6,3,12,1.09
17,Switzerland,4,13,2,5,6,11,0.85
18,Serbia,5,14,3,2,9,11,0.79
19,Iceland,1,5,2,2,1,8,1.60
20,Hungary,3,8,2,2,4,8,1.00
21,Republic of Ireland,3,10,2,2,6,8,0.80
22,Romania,5,16,1,5,10,8,0.50
23,Scotland,2,6,2,1,3,7,1.17
24,Norway,1,3,1,1,1,4,1.33
25,Slovakia,1,4,1,1,2,4,1.00
26,Bulgaria,2,6,1,1,4,4,0.67
27,Albania,1,3,1,0,2,3,1.00
28,Northern Ireland,1,4,1,0,3,3,0.75
29,Ukraine,2,6,1,0,5,3,0.50
30,Slovenia,1,3,0,2,1,2,0.67
31,Austria,2,6,0,2,4,2,0.33
32,Latvia,1,3,0,1,2,1,0.33

In [47]:
Top_Goal_Scorers_df

,Player,Team,Goals scored,Matches played,Goals average,Tournament(s)
0,Michel Platini,France,9,5,1.80,1984
1,Cristiano Ronaldo,Portugal,9,21,0.43,"2004, 2008, 2012, 2016"
2,Alan Shearer,England,7,9,0.78,"(1992), 1996, 2000"
3,Antoine Griezmann,France,6,7,0.86,2016
4,Ruud van Nistelrooy,Netherlands,6,8,0.75,"2004, 2008"
5,Patrick Kluivert,Netherlands,6,9,0.67,"1996, 2000"
6,Wayne Rooney,England,6,10,0.60,"2004, 2012, 2016"
7,Thierry Henry,France,6,11,0.55,"2000, 2004, 2008"
8,Zlatan Ibrahimović,Sweden,6,13,0.46,"2004, 2008, 2012, (2016)"
9,Nuno Gomes,Portugal,6,14,0.43,"2000, 2004, 2008"
10,Savo Milošević,FR Yugoslavia,5,4,1.25,2000
11,Marco van Basten,Netherlands,5,9,0.56,"1988, (1992)"
12,Milan Baroš,Czech Republic,5,11,0.45,"2004, (2008), (2012)"
13,Jürgen Klinsmann,Germany,5,13,0.38,"1988, 1992, 1996"
14,Fernando Torres,Spain,5,13,0.38,"(2004), 2008, 2012"
15,Mario Gómez,Germany,5,13,0.38,"(2008), 2012, 2016"
16,Zinedine Zidane,France,5,14,0.36,"(1996), 2000, 2004"

In [48]:
All_Matches_df

,Date,HomeTeamName,AwayTeamName,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Country,Attendance,Year
0,1960-07-06,France,Yugoslavia,4,5,Semi-finals,NaN,Parc des Princes,Paris,France,26370,1960
1,1960-07-06,Czechoslovakia,Soviet Union,0,3,Semi-finals,NaN,Stade Vélodrome,Marseille,France,25184,1960
2,1960-07-09,Czechoslovakia,France,2,0,Third place play-off,NaN,Stade Vélodrome,Marseille,France,9438,1960
3,1960-07-10,Soviet Union,Yugoslavia,2,1,Final,Soviet Union win after extra time,Parc des Princes,Paris,France,17966,1960
4,1964-06-17,Spain,Hungary,2,1,Semi-finals,Spain win after extra time,Santiago Bernabéu,Madrid,Spain,34713,1964
...,...,...,...,...,...,...,...,...,...,...,...,...
281,2016-07-02,Germany,Italy,1,1,Quarter-finals,Germany win on Penalities 6–5,Nouveau Stade de Bordeaux,Bordeaux,France,38764,2016
282,2016-07-03,France,Iceland,5,2,Quarter-finals,NaN,Stade de France,Saint-Denis,France,76833,2016
283,2016-07-06,Portugal,Wales,2,0,Semi-finals,NaN,Parc Olympique Lyonnais,Décines-Charpieu,France,55679,2016
284,2016-07-07,Germany,France,0,2,Semi-finals,NaN,Stade Vélodrome,Marseille,France,64078,2016
285,2016-07-10,Portugal,France,1,0,Final,Portugal win after extra time,Stade de France,Saint-Denis,France,75868,2016

In [49]:
All_Matches_df = All_Matches_df.drop(columns = ['Attendance', 'SpecialWinConditions', 'Date', 'Stadium'])

In [50]:
All_Matches_df

,HomeTeamName,AwayTeamName,HomeTeamGoals,AwayTeamGoals,Stage,City,Country,Year
0,France,Yugoslavia,4,5,Semi-finals,Paris,France,1960
1,Czechoslovakia,Soviet Union,0,3,Semi-finals,Marseille,France,1960
2,Czechoslovakia,France,2,0,Third place play-off,Marseille,France,1960
3,Soviet Union,Yugoslavia,2,1,Final,Paris,France,1960
4,Spain,Hungary,2,1,Semi-finals,Madrid,Spain,1964
...,...,...,...,...,...,...,...,...
281,Germany,Italy,1,1,Quarter-finals,Bordeaux,France,2016
282,France,Iceland,5,2,Quarter-finals,Saint-Denis,France,2016
283,Portugal,Wales,2,0,Semi-finals,Décines-Charpieu,France,2016
284,Germany,France,0,2,Semi-finals,Marseille,France,2016
285,Portugal,France,1,0,Final,Saint-Denis,France,2016

In [51]:
All_Matches_df.to_csv('All_Matches_df.csv')
Top_Goal_Scorers_df.to_csv('Top_Goal_Scorers_df.csv')
Participated_teams_general_statistics_df.to_csv('Participated_teams_general_statistics_df.csv')
National_Team_Appearance_df.to_csv('National_Team_Appearance_df.csv')